.cabecalho__logo {
    margin-bottom: 3rem;
}

.titulo {
    font-family: var(--itim);
    margin-left: 11.8rem;
}

.nav {
    margin-left: 11.8rem;
    margin-bottom: 2rem;
    margin-top: 0.5rem;
}

input[type="text"] {
    padding: 6px;
    font-size: 16px;
    border: 1px solid var(--cinza);
    border-radius: 5px;
    width: 50%;
    margin-bottom: 10px;
}

button {
    padding: 6px;
    font-size: 16px;
    border-radius: 5px;
    background-color: var(--verde);
    color: var(--branco);
    cursor: pointer;
    border: 1px solid var(--cinza);
}

button:hover {
    background-color: var(--verde-escuro);
}

.lista__item__1 {
    width: 33.33%;
    display: flex;
    justify-content: space-around;
}

.lista__item__1 img {
    height: 16rem;
}

.lista__item__1 img:hover {
    transition: .5s;
    transform: scale(1.2);
}

.lista__item__1 a {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: var(--cinza);
    padding: 0 1.3rem 2rem 1.3rem;
    margin-bottom: 2rem;
    border-radius: 10px;
}

.loja__conteiner {
    display: flex;
    justify-content: center;
}

.loja__lista__1 {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

.lista__nome {
    width: 100%;
    color: var(--cinza);
    font-size: 1.3rem;
    margin-bottom: 0.2rem;
}

.lista__txt {
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 1.8rem;
}

.lista__preco__txt {
    color: var(--cinza);
    width: 100%;
}

.lista__preco {
    color: var(--azul);
    font-weight: 700;
    font-size: 2rem;
    width: 100%;
}