:root {
    --laranja: #F9734A;
    --laranja-claro: #fd9373;
    --azul: #3437d8;
    --azul-escuro: #0003c4;
    --branco: #f5f5f5;
    --cinza: #999999;
    --verde: #4CAF50;
    --verde-escuro: #317434;
    --preto: #000000;
    --preto-claro: #313131;
    --itim: 'Itim', cursive;
    --roboto: 'Roboto', sans-serif;
}

header {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    width: 100%;
    height: 13rem;
    background-color: var(--laranja);
}

.loja {
    margin-top: 18rem;
}

/* PAGINA INICIAL */

.cabecalho__logo {
    margin: 0rem;
}

.cabecalho__logo img {
    width: 100%;
    height: 12rem;
}

.cabecalho__logo:nth-child(1) {
    grid-column: 1;
}

.titulo a {
    font-family: 'Itim', cursive;
}

.cabecalho__titulo {
    text-align: center;
    font-family: 'Itim', cursive;
    font-size: 1.7rem;
    margin-top: 3rem;
    margin-bottom: 1.3rem;
}

.escolha {
    display: flex;
    justify-content: center;
}

.escolha img {
    height: 20rem;
}

.escolha-1 img,
a {
    border-radius: 15px 0 0 15px;
}

.escolha-2 img,
a {
    border-radius: 0 15px 15px 0;
}

.escolha-1 img {
    box-shadow: 8px 8px 15px 0px rgba(0, 0, 0, 0.5);
}

.escolha-2 img {
    box-shadow: 8px 8px 15px 0px rgba(0, 0, 0, 0.5);
}

a {
    cursor: pointer;
    border: none;
    position: relative;
    display: inline-block;
}
.auth-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "material-symbols-outlined btn-enter"
        "btn-register btn-register";
    grid-row-gap: 10px;
    font-weight: 700;
    border-radius: 5px;
    border: 5px;
    border-color: var(--cinza);
    background-color: var(--laranja-claro);
}

.divSearch:nth-child(2) {
    grid-column: 2;
}

.auth-buttons:nth-child(3) {
    grid-column: 3;
    width: 7rem;
    height: 2rem;
    justify-self: center;
}


#material-symbols-outlined {
    color: var(--preto-claro);
    grid-area: material-symbols-outlined;
    justify-self: center;
    align-self: self-end;
    font-size: 2rem;
}

.btn-enter:hover{
    color: var(--preto);
}

.btn-enter {
    grid-area: btn-enter;
    align-self: center;
    justify-self: center;
    font-size: 1rem;
    font-weight: 700;
    color: var(--preto-claro);
}

.btn-register {
    margin-top: 0.1rem;
    display: flex;
    flex-direction: column;
    grid-area: btn-register;
    color: var(--preto);
    justify-self: center;
    font-size: 0.8rem;
    font-weight: 400;
    font-family: var(--itim);
    font-family: var(--roboto);
}

.btn-register a:hover {
    cursor: pointer;
    color: var(--azul-escuro);
}
.btn-register a {
    align-self: center;
    color: var(--azul);
    font-weight: 700;
}

a {
    background-color: transparent;
    color: inherit;
}

.titulo {
    font-family: var(--itim);
    margin-left: 16.5rem;
}

.escolha-1-nav a,
span {
    color: var(--azul);
    font-weight: 700;
}

.nav {
    margin-left: 16.5rem;
    margin-bottom: 2rem;
    margin-top: 0.5rem;
}

.divSearch {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divSearch input {
    padding: 1rem;
    font-size: 16px;
    border: 1px solid var(--cinza);
    border-radius: 5px;
    margin-top: 3rem;
}

.lista__item__1 {
    width: 33.33%;
    display: flex;
    justify-content: space-around;
}

.lista__item__1 img {
    height: 16rem;
}

.lista__item__1 img:hover {
    transition: .5s;
    transform: scale(1.2);
}

.lista__item__1 a {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: var(--cinza);
    padding: 1rem;
    margin: 1rem;
    margin-top: 0;
    border-radius: 10px;
    background-color: transparent;
    color: var(--azul);
}

.loja__conteiner {
    display: flex;
    justify-content: center;
}

.loja__lista__1 {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
}

.lista__nome {
    width: 100%;
    color: var(--cinza);
    font-size: 1rem;
    margin-bottom: 0.2rem;
}

.lista__txt {
    font-weight: 700;
    font-size: 1.3rem;
    margin-bottom: 1.8rem;
}

.lista__preco__txt {
    color: var(--cinza);
    width: 100%;
}

.lista__preco {
    color: var(--azul);
    font-weight: 700;
    font-size: 1.5rem;
    width: 100%;
}