:root {
    --laranja: #F9734A;
    --azul: #4F50BF;
    --branco: #f5f5f5;
    --itim: 'Itim', cursive;
    --roboto: 'Roboto', sans-serif;
    --cinza: #bbbbbb;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.cabecalho__logo {
    background-color: var(--laranja);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 3rem;
}

.cabecalho__logo img {
    width: 100%;
    height: 10rem;
    border-radius: 15px;
}

.titulo{
    font-family: var(--itim);
    margin-left: 12.8rem;
}

.nav{
    margin-left: 12.8rem;
    margin-bottom: 2rem;
    margin-top: 0.5rem;
}

.lista__item__1{
    width: 33.33%;
    display: flex;
    justify-content: space-around;
}

.lista__item__1 img{
    height: 16rem;
}

.lista__item__1 a{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: var(--cinza);
    padding: 0 1.3rem 2rem 1.3rem;
    margin-bottom: 2rem;
    border-radius: 10px;
}

.loja__conteiner{
    display: flex;
    justify-content: center;
}

.loja__lista__1{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

.lista__nome{
    width: 100%;
    color: var(--cinza);
    font-size: 1.3rem;
    margin-bottom: 0.2rem;
}

.lista__txt{
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 1.8rem;
}

.lista__preco__txt{
    color: var(--cinza);
    width: 100%;
}

.lista__preco{
    color: var(--azul);
    font-weight: 700;
    font-size: 2rem;
    width: 100%;
}